header
  section
    a(href='/')
      h1 #{title}
  section
      a.navbutton(href='/muzyka') MUZYKA
      a.navbutton(href='/sport') SPORT
      a.navbutton(href='/rodzina') RODZINA
      a.navbutton(href='/festivale') FESTIWALE
      a.navbutton(href='/komentarze') KOMENTARZE

